@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Outfit:wght@300;400;500;600&display=swap');

.forgot-container {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  background: linear-gradient(
    180deg,
    #f5f2ff,
    #cdb8ff
  );

  font-family: 'Outfit', sans-serif;

}

.forgot-card {

  width: 420px;

  background: white;

  border-radius: 30px;

  padding: 40px;

  text-align: center;

  font-family: 'Outfit', sans-serif;

}

.forgot-card h1 {

  color: #6a42f4;

  font-family: 'Fredoka';

}

.forgot-card input {

  width: 100%;

  padding: 15px;

  margin: 20px 0;

  border-radius: 12px;

  border: 1px solid #ddd;

  font-family: 'Outfit', sans-serif;

}

.forgot-card button {

  width: 100%;

  padding: 15px;

  border: none;

  border-radius: 12px;

  background: linear-gradient(
    90deg,
    #ff69b4,
    #7b61ff
  );

  color: white;

  font-weight: bold;

  font-family: 'Outfit', sans-serif;

  cursor: pointer;

}