<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Outfit:wght@300;400;500;700&display=swap" rel="stylesheet">

<!-- NAVBAR -->
<header class="navbar">

  <div class="logo-section">
    <h1 class="logo">
      BOXEYE
    </h1>
  </div>

  @if (isAdmin()) {

  <a routerLink="/inventario">
    Inventario
  </a>

}

  <div class="search-section">

    <input
  type="text"
  placeholder="Buscar productos..."
  class="search-input"
  [ngModel]="busqueda()"
  (ngModelChange)="busqueda.set($event)"
>

    <select
  class="category-select"
  (change)="categoriaSeleccionada.set($any($event.target).value)"
>

  @for (cat of categorias(); track cat) {

    <option [value]="cat">
      {{ cat }}
    </option>

  }

</select>

<div class="user-actions">

  @if (!authService.isLoggedIn()) {

    <button
      class="auth-btn"
      routerLink="/login">

      Login

    </button>

    <button
      class="auth-btn register-btn"
      routerLink="/registro">

      Registro

    </button>

  } @else {

    <button
      class="auth-btn"
      routerLink="/perfil">

      Perfil

    </button>

    <button
      class="auth-btn"
      routerLink="/historial">

      Historial

    </button>

    <button
      class="auth-btn logout-btn"
      (click)="logout()">

      Salir

    </button>

  }

</div>

  </div>

<div class="cart-container">

  <button
    class="btn-cart"
    (mouseenter)="mostrarPreview.set(true)"
  >
    🛒

    <span class="cart-count">
      {{ carritoService.productos().length }}
    </span>

  </button>

  @if (mostrarPreview()) {

    <div
      class="cart-preview"
      (mouseenter)="mostrarPreview.set(true)"
      (mouseleave)="mostrarPreview.set(false)"
    >

      @if (carritoService.productos().length === 0) {

        <p class="empty-cart">
          Tu carrito está vacío
        </p>

      } @else {

        @for (producto of carritoService.productos(); track $index) {

          <div class="preview-item">

  <img [src]="producto.imagen" alt="producto">

  <div class="preview-info">

    <h4>{{ producto.nombre }}</h4>

    <p>
      {{ producto.precio | currency:'MXN' }}
    </p>

    <div class="preview-qty">

      <button
        class="qty-btn"
        (click)="carritoService.disminuirCantidad(producto.id)">
        −
      </button>

      <span>
        {{ producto.cantidad || 1 }}
      </span>

      <button
        class="qty-btn"
        (click)="carritoService.aumentarCantidad(producto.id)">
        +
      </button>

    </div>

  </div>

  <button
    class="remove-btn"
    (click)="carritoService.quitar($index)">
    ✕
  </button>

</div>

        }

        <div class="preview-total">

          Total:
          {{ carritoService.total() | currency:'MXN' }}

        </div>

        <button
          class="checkout-btn"
          (click)="cambiarVista('carrito')"
        >
          Ver carrito
        </button>

      }

    </div>

  }

</div>

</header>

<!-- HERO BANNER -->
@if (vistaActiva() === 'catalogo') {

<section class="hero-banner">

  <img
    src="https://tinko.se/cdn/shop/files/1751538356379____pc.webp?v=1751845168&width=2048"
    alt="Banner principal"
    class="hero-image"
  />

  <div class="hero-overlay">
    <h2>Descubre tu próxima sorpresa</h2>
    <p>
      Figuras, coleccionables y artículos únicos para tu colección.
    </p>
  </div>

</section>



}

<!-- PRODUCTOS -->
@if (vistaActiva() === 'catalogo') {

  @if (products().length === 0) {

    <p class="loading">
      Cargando productos...
    </p>

  } @else {

    <section class="products-section">

      <div class="section-title">
        <h2>Colección Destacada</h2>
      </div>

      <section class="grid">

        @for (p of productosFiltrados(); track p.id) {

          <app-product-card
  [product]="p"
  (add)="agregar($event)"
  (detalle)="abrirDetalle($event)">
</app-product-card>

        }

      </section>

      @if (productosFiltrados().length === 0) {

  <p class="empty-search">
    No se encontraron productos.
  </p>

}

    </section>

  }

} @else {

  <app-carrito
    (volver)="cambiarVista('catalogo')">
  </app-carrito>

}

@if (productoSeleccionado()) {

  <div
    class="modal-overlay"
    (click)="cerrarDetalle()">

    <div
      class="product-modal"
      (click)="$event.stopPropagation()">

      <button
        class="close-modal"
        (click)="cerrarDetalle()">
        ✕
      </button>

      <img
        [src]="productoSeleccionado()?.imagen"
        [alt]="productoSeleccionado()?.nombre"
        class="modal-image"
      >

      <div class="modal-info">

        <span class="modal-category">
          {{ productoSeleccionado()?.categoria }}
        </span>

        <h2>
          {{ productoSeleccionado()?.nombre }}
        </h2>

        <p class="modal-description">
          {{ productoSeleccionado()?.descripcion }}
        </p>

        <div class="modal-price">
          {{ productoSeleccionado()?.precio | currency:'MXN' }}
        </div>

        <div class="modal-stock">

  @if ((productoSeleccionado()?.stock || 0) > 0) {

    Stock:
    {{ productoSeleccionado()?.stock }}
    unidades

  } @else {

    <span class="out-stock">

      Sin stock

    </span>

  }

</div>

        @if ((productoSeleccionado()?.stock || 0) > 0) {

  <button
    class="modal-add-btn"
    (click)="agregar(productoSeleccionado()!)">

    Agregar al carrito

  </button>

} @else {

  <button
    class="modal-add-btn agotado-btn"
    disabled>

    Agotado

  </button>

}

      </div>

    </div>

  </div>

}