<section class="cart">
  <h2 class="title">Carrito</h2>
  <div>
    <h2 class="title">Tu Selección</h2>
    <button class="btn-back" (click)="regresar()">← Volver al catálogo</button>
  </div>

  <section>
  @if (carrito().length === 0) {
    <p class="empty">Tu carrito está vacío.</p>
  } @else {
    <ul class="list">
      @for (producto of carrito(); track $index) {
        <li class="item">

  <div class="product-info">

    <span class="line">
      {{ producto.nombre }}
    </span>

    <span class="price">
      {{ producto.precio | currency:'MXN' }}
    </span>

  </div>

  <div class="quantity-controls">

    <button
      class="qty-btn"
      (click)="disminuir(producto.id)">
      −
    </button>

    <span class="qty-number">
      {{ producto.cantidad }}
    </span>

    <button
      class="qty-btn"
      (click)="aumentar(producto.id)">
      +
    </button>

  </div>

  <button
    class="btn danger"
    (click)="quitar($index)">
    ✕
  </button>

</li>
      }
    </ul>

    <div class="total">
      Total: {{ total() | currency:'MXN' }}
    </div>

    <div class="actions">
      <button class="btn" (click)="vaciar()">Vaciar carrito</button>
      
      <button (click)="irAPagar()" class="btn-pagar">Ir a Pagar</button>
    </div>
  }
</section>