<section class="cart">
  <h2 class="title">Carrito</h2>
  <div>
    <h2 class="title">Tu Selección</h2>
    <button class="btn-back" (click)="regresar()">← Volver al catálogo</button>
  </div>

  <section>
  @if (carrito().length === 0) {
    <p class="empty">Tu carrito está vacío.</p>
  } @else {
    <ul class="list">
      @for (producto of carrito(); track $index) {
        <li class="item">
          <span class="line">
            {{ producto.name }} - {{ producto.price | currency:'MXN' }}
          </span>

          <button class="btn danger" (click)="quitar($index)">
            Quitar
          </button>
        </li>
      }
    </ul>

    <div class="total">
      Total: {{ total() | currency:'MXN' }}
    </div>

    <div class="actions">
      <button class="btn" (click)="vaciar()">Vaciar carrito</button>
      <button class="btn purple" (click)="exportarXML()">Exportar Recibo XML</button>
    </div>
  }
</section>