<article class="product-card" (click)="verDetalle()">
    <div class="image-container">
   <img [src]="product.imagen" />
    </div>
    <div>
        <div>
            <h3>{{ product.nombre }}</h3>
            <span>${{ product.precio }}</span>
        </div>
        <p>{{ product.categoria }}</p>
        
        <button
  (click)="addToCart($event)"
  [disabled]="product.stock === 0">
        Agregar
        </button>

        <p>
            @if (product.stock > 0) { 
                En Stock: {{ product.stock }} unidades 
            }
            @else { 
                <span style="color: red;">Agotado</span> 
            }
        </p>
    </div>
</article>