<div class="checkout-page">

  <div class="checkout-card">

    <h1 class="checkout-title">
      Finalizar Compra
    </h1>

    <p class="checkout-subtitle">
      Revisa tu pedido antes de completar el pago
    </p>

    <h3 class="summary-title">
      Resumen del pedido
    </h3>

    @for (producto of carrito(); track $index) {

      <div class="product-row">

        <div class="product-info">

          <span class="product-name">
            {{ producto.nombre }}
          </span>

          <span class="product-qty">
            Cantidad: {{ producto.cantidad }}
          </span>

        </div>

        <span class="product-price">
          {{ producto.precio | currency:'MXN' }}
        </span>

      </div>

    }

    <div class="divider"></div>

    <div class="total-row">
      <span>Total</span>

      <strong>
        {{ total() | currency:'MXN' }}
      </strong>
    </div>

    <div class="paypal-wrapper">
      <div #paypalButtonContainer></div>
    </div>

  </div>

</div>