@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap');

:host {
  display: block;
  min-height: 100vh;
}

/* PAGINA */
.checkout-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px;

  background:
    linear-gradient(
      180deg,
      #8671f2 0%,
      #98f7f2 100%
    );
}

/* CARD */
.checkout-card {
  width: 100%;
  max-width: 650px;

  background: white;

  border-radius: 30px;

  padding: 40px;

  box-shadow:
    0 15px 40px rgba(0,0,0,0.08);

  border: 3px solid #edf2ff;
}

/* TITULO */
.checkout-title {
  font-size: 2.5rem;
  font-weight: 700;

  margin-bottom: 10px;

  color: #2f3f5f;

  font-family: 'Fredoka', sans-serif;

  letter-spacing: 1px;
}

.checkout-subtitle {
  color: #6b7280;
  margin-bottom: 35px;

  font-family: 'Outfit', sans-serif;

  font-size: 1rem;
}

/* RESUMEN */
.summary-title {
  margin-bottom: 25px;

  color: #374151;

  font-family: 'Fredoka', sans-serif;

  font-size: 1.5rem;
}

/* PRODUCTOS */
.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px;

  border-radius: 18px;

  background: #fafbff;

  border: 2px solid #edf2ff;

  margin-bottom: 15px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: 600;
  color: #374151;

  font-family: 'Outfit', sans-serif;

  font-size: 1rem;
}

.product-qty {
  margin-top: 5px;

  font-size: 0.9rem;

  color: #6b7280;

  font-family: 'Outfit', sans-serif;
}

.product-price {
  font-weight: 700;

  color: #7c3aed;

  font-family: 'Fredoka', sans-serif;

  font-size: 1.1rem;
}

/* DIVIDER */
.divider {
  height: 2px;
  background: #ececec;
  margin: 25px 0;
  border-radius: 999px;
}

/* TOTAL */
.total-row {
  display: flex;
  justify-content: space-between;

  font-size: 1.4rem;
  font-weight: 700;

  margin-bottom: 25px;

  color: #1f2937;

  font-family: 'Fredoka', sans-serif;
}

/* PAYPAL */
.paypal-wrapper {
  margin-top: 20px;
}